DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=loja_de_suplementos_dev
SQL_USER=loja_de_suplementos
SQL_PASSWORD=loja_de_suplementos
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
